<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<div th:fragment="footer">
		<div>
			
		</div>
		<!-- Section: Links  -->
		<section class="footer">
			<div class="container text-center text-md-start pt-4 pb-4">
				<!-- Grid row -->
				<div class="row mt-3">
					<!-- Grid column -->
					<div class="col-12 col-lg-3 col-sm-12 mb-2">
						<!-- Content -->
						<h4 class="text-black fw-bold">
							ORI COSMETICS
						</h4>
						<p class="mt-2 text-dark fs-6">
							Ori Cosmetics là nhà phân phối mỹ phẩm và làm đẹp đảm bảo về chất lượng, đa dạng về sản phẩm. Tự tin mang đến cho khách hàng những sản phẩm làm đẹp được nhập khẩu với chất lượng tốt nhất. Thường xuyên cập nhật mẫu mã cho khách hàng thỏa sức lựa chọn.
						</p>
						<p>
							<strong class="fs-6 text-dark fw-bold">SĐT:</strong> <span class="text-dark fs-6"> 0987654321</span>
							<br />
							<strong class="fs-6 text-dark fw-bold">Địa chỉ:</strong> <span class="text-dark fs-6"> Số 1 VN, Thủ Đức, Việt Nam</span>
						</p>
					</div>
					<!-- Grid column -->


					<div class="col-12 col-lg-3 col-sm-12 mb-2" style="margin-left: 80px;">
						<!-- Content -->
						<h4 class="text-black fw-medium">
							Chính sách
						</h4>
						<div class="mt-4 mb-4">
							<a class="fs-6">Chính sách vận chuyển</a>
						</div>
						<div class="mb-4">
							<a class="fs-6">Chính sách thanh toán</a>
						</div>
						<div class="mb-4">
							<a class="fs-6">Chính sách bảo mật</a>
						</div>
						<div class="mb-4">
							<a class="fs-6">Chính sách bảo hành</a>
						</div>	
					</div>

					<div class="col-12 col-md-5 col-sm-12 mb-2">
						<div class="w-100" style="height: auto;">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4853986110666!2d106.7693381737367!3d10.850637657823157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752763f23816ab%3A0x282f711441b6916f!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBTxrAgcGjhuqFtIEvhu7kgdGh14bqtdCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmg!5e0!3m2!1svi!2s!4v1702411779927!5m2!1svi!2s" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
				<!-- Grid row -->
			</div>
			<div class="text-center py-4" style="color: #FBA1B7; background-color: #FFF0F5;">
				Copyright 2023 © Ori Cosmetics
			</div>
		</section>
	</div>
</body>

</html>