.product {
	margin-bottom: 10px;
}
.product .card {
	border: none;
}

.product .card-body {
	padding: 10px 10px;
}

.product .card-text {
	margin-bottom: 0;
	font-size: 14.4px;
	color: var(--color-primary);
	line-height: 1.3;
	text-decoration: none;
	font-weight: 450;
}

.product .card-title {
	font-size: 14.4px;
	color: var(--color-primary);
	line-height: 1;
}

.product .card-title .fw-bold{
	font-weight: 900 !important;
}

.page-product .card .image:hover .overlay {
	background-color: #FFF;
	animation: fadeIn;
	animation-duration: 0.7s;
	opacity: 1;
}

.page-product .card .image {
	position: relative;
	
}


.page-product .overlay {
    position: absolute;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;   
    opacity: 0;
}

.page-product .overlay span {
	background-color: #FBA1B7;
	display: block;
	width: 100%;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

.page-product .overlay span:first-child {
	margin-bottom: 10px;
}

.page-product .overlay a {
    display: inline-block;
}

.page-product #mySelect {
	width: 100%;
	padding: 5px 12px;
	border-radius: 3px;
}

.page-product #mySelectBrand {
	width: 100%;
	padding: 5px 12px;
	border-radius: 3px;
}

.page-product .irs-bar {
	background-color: var(--color-primary) !important;
}

.page-product .product-found {
	color: #FFDBAA;
}

.irs-handle {
	border-color: var(--color-primary) !important;
}

.irs-handle:hover {
    background-color: #FFF0F5 !important;
}

