<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/layout-default.html}">
<body>
	
	<div layout:fragment="content">
		<!--Viết nội dung từ đây-->
		<section class="login-block">
		    <!-- Container-fluid starts -->
		    <div class="container">
		        <div class="row">
		            <div class="col-sm-12">
		                <!-- Authentication card start -->
		
		                <form th:action="@{/auth/login}" method="post" role="form" >
		                    <div class="card" style="margin: 20px auto 0 auto;max-width: 450px;border-radius:20px ">
		                        <div class="card-body">
		                            <div class="row mb-4">
										<div class="col-md-12" th:if="${errorMessage}">
											<h6 class="text-danger" th:text="'Tài khoản hoặc mật khẩu không đúng'"></h6>
										</div>
		                                <div class="col-md-12">
		                                    <h3 class="text-center">Sign In Acount</h3>
		                                </div>
		                            </div>
		                            <p class="text-danger"></p>
		                            <div class="form-group form-primary">
										<label class="float-label">Your Email</label>
		                                <input type="text" name="username" class="form-control" placeholder="Nhập Email." required="">
		                                <span class="form-bar"></span>                            
		                            </div>
		                            <div class="form-group form-primary">
										<label class="float-label">Password</label>
		                                <input type="password" name="password" class="form-control" placeholder="Nhập mật khẩu." required="">
		                                <span class="form-bar"></span> 
		                            </div>
		                            <div class="row m-t-25 text-left">
		                                <div class="col-12">
		                                    <div class="checkbox-fade fade-in-primary d-">
												<div class="text-create forgot-phone text-right f-right">
													<a href="/auth/sign-up" class="text-right f-w-600" style="color: #4caf50;">Create an Account/</a>
													<a href="/auth/reset-password" class="text-right f-w-600" style="color: #cc0000;">Forgot your password</a>
												</div>
		                                    </div>
		                                </div>
		                            </div>
		                            <div class="row mt-3">
		                                <div class="col-12">
		                                    <button type="submit" class="btn btn-primary btn-block" style="width: 100%;border-radius: 10px;">Sign in</button>

		                                </div>
		                            </div>
									<p>Your account has not been activated.<a href="/auth/verify-code" class="text-right f-w-600" style="color: #cc0000;">Click here!!</a> </p>
		                            <div class="row">
		                                <div class="col-md-10">

<!--											-->

											<p class="text-inverse text-left"><a href="/"><b>Back to website</b></a></p>
		                                </div>
                            		</div>
		                        </div>
		                    </div>
		                </form>
		                <!-- end of form -->
		            </div>
		            <!-- end of col-sm-12 -->
		        </div>
		        <!-- end of row -->
		    </div>
		    <!-- end of container-fluid -->
		</section>
	</div>
	
</body>
</html>