<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/layout-default.html}">

<body>
	<!--Thêm dòng này vào-->
	<div layout:fragment="content">
		<div class="container">
			<section class="row gx-3 mt-5 mb-5">
				<div class="vh-50 d-flex justify-content-center align-items-center">
					<div class="col-md-4">
						<div class="border border-3 border-success"></div>
						<div class="card  bg-white shadow p-5">							
							<div class="text-center">
								<h1>Thank You !</h1>
								<p>Your order has been successfully paid.</p>
								<a class="btn btn-outline-success" th:href="@{/home}">Back Home</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>